 h1 {
      color: white;
    }

    p {
      color: white;
    }
    h2{
        color: white;
    }
    h1, p,h2 {
  text-align: center;
}

    body {
      background-image: url("https://media.istockphoto.com/id/1207014981/es/foto/bosque-de-oto%C3%B1o-por-la-ma%C3%B1ana-con-rayos-de-luz-c%C3%A1lida-del-sol.jpg?s=612x612&w=0&k=20&c=MGHLbZBaIyVPFLQn6Gtap6cefXbHiOiVtpP06MCMsgs=");
      background-size: cover; /* Para que la imagen cubra todo el fondo */
      background-position: center;
      background-repeat: no-repeat;
    }