body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #fefefe;
}

header {
  background-color: #ff6600;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

section {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

button {
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
body{
    background-color: gray;
}